<p>An unexpected error occurred on the server, please try again in a moment.</p>
<% if (detail) { %>
    <pre class="code-block"><%= detail %></pre>
<% } %>

<p class="last">
    <a href="/" class="js-back-link">Return to safer lands</a>
</p>
