<div class="card text-center">
    <p>An unexpected error occurred on the server, please try again in a moment.</p>
    <% if (detail) { %>
        <pre class="code-block"><%= detail %></pre>
    <% } %>
    <a href="javascript:history.back()">Go back</a>
</div>
