<p>
    Hello!<br>
    You can start a new game or check the <a href="/highscores">Hall of Champions</a>!
</p>
<p>What race do you want to be?</p>

<form method="POST" action="/start">
    <div class="form-row">
        <input type="text" class="form-input" name="name" maxlength="20" placeholder="Identify yourself, champion..." autocomplete="off" />
        <select class="form-select" name="select_race">
            <% races.forEach(race => { %>
                <option value="<%= race.id %>"><%= race.emoji %> <%= race.label %></option>
            <% }) %>
        </select>
        <button type="submit" class="btn">🚩 Begin</button>
    </div>
</form>
