<p>Do you wish to depart this world?</p>

<form method="POST" action="/suicide">
    <div class="form-row">
        <select class="form-select" name="suicide" id="suicide-select">
            <option value="no">No, I changed my mind</option>
            <option value="yes">Yes, stab yourself in the heart</option>
        </select>
        <button type="submit" class="btn btn-secondary" id="suicide-btn">Return</button>
    </div>
</form>
