<div class="panel" style="margin-top: 12px;">
    <div class="panel-header">Inventory</div>
    <div class="panel-body small">
        <div class="stat-row"><span class="stat-value"><%= armorEmoji %> <%= armorStr %></span></div>
        <div class="stat-row"><span class="stat-value"><%= weaponEmoji %> <%= weaponStr %></span></div>
    </div>
</div>