<p>
    Hello!<br>
    You can start a new game or check the <a href="/highscores">Hall of Champions</a>!
</p>
<p>What race do you want to be?</p>
<form onsubmit="window.location.href=this.querySelector('select').value; return false;">
    <div class="form-row">
        <select class="form-select" name="start">
            <% heroes.forEach(hero => { %>
                <option value="/<%= hero.race.toLowerCase() %>"><%= hero.emoji %> <%= hero.label %></option>
            <% }) %>
        </select>
        <button type="submit" class="btn">🚩 Begin</button>
    </div>
</form>