Are you sure you want to kill yourself?<br><br>

<form method="POST" action="/suicide">
    <div class="form-row">
        <select class="form-select" name="suicide">
            <option value="no">No, my bad</option>
            <option value="yes">Yes, stab yourself in the heart</option>
        </select>
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>